<!DOCTYPE html>
<html>
    <head>
        <title>Benefit Sheet</title>
        <link rel="stylesheet" type="text/css" href="css/benefitSheet.css">
        <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.5.0/css/all.css integrity=sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU crossorigin=anonymous>
        <script type="text/javascript" src="jquery-3.3.1.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="sidebar">
            <app-sidebar v-bind:version="version"></app-sidebar>
        </div>
        <div class="mainContent" id="app">
            <div class="titleBar">
                <div class="copyButton">
                </div>
                <p>Benefit Sheet<p>
                <div class="clearButton">
                    <i class="far fa-trash-alt fa-2x" v-on:click=""></i>
                </div>
            </div>
            <div class="benefits">
                <!-- <select v-for="i in 6">
                    <option>placeholder</option>
                </select> -->
                <p class="benefitsTitle">New Plan Benefits</p>
                <app-autocomplete v-for="i in mainObject.benefits" v-bind:benefit="i" v-bind:key="i.id"></app-autocomplete> 
            </div>
            <div class="oldBills">
                <input placeholder="Phone Bill">
                <p>+</p>
                <input placeholder="Home Solution">
                <p>=</p>
                <p>$0.00</p>
            </div>
            <div class="billBreakdown">
                <div class="option1 option">
                    <div class="chosenPlanLabel">
                        <p>Option 1:</p>
                        <div>{{ mainObject.chosenPlan }}</div>
                    </div>
                    <div class="breakdown">
                        <div>
                            <p>Plan:</p>
                            <div>${{ planTotal.toFixed(2) }}</div>
                        </div>
                        <div>
                            <p>Line Access:</p>
                            <div>${{ lineAccessTotal.toFixed(2) }}</div>
                        </div>
                        <div>
                            <p>TMP:</p>
                            <div>${{ tmpTotal.toFixed(2) }}</div>
                        </div>
                        <div>
                            <p>DPP:</p>
                            <div>${{ dppTotal.toFixed(2) }}</div>
                        </div>
                         <div>
                            <p>Total:</p>
                            <div>{{ benefitSheetTotalOption1 }}</div>
                        </div>
                    </div>
                </div>
                <div class="option2 option">
                    <div class="chosenPlanLabel">
                        <p>Option 2:</p>
                        <div>Unlimited</div>
                    </div>
                    <div class="breakdown">
                        <div>
                            <p>Plan:</p>
                            <div></div>
                        </div>
                        <div>
                            <p>Line Access:</p>
                            <div></div>
                        </div>
                        <div>
                            <p>TMP:</p>
                            <div></div>
                        </div>
                        <div>
                            <p>DPP:</p>
                            <div></div>
                        </div>
                         <div>
                            <p>Total:</p>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="costs">
                <div>
                    <input placeholder="Cost Today">
                    <p>$0.00</p>
                    <input placeholder="Fees">
                </div>
                <div>
                    <input placeholder="Cost Today">
                    <p>$0.00</p>
                    <input placeholder="Fees">
                </div>
            </div>
        </div>
        <script src="components/autocomplete.js"></script>
        <script src="components/sidebar.js"></script>
        <script src="vue.js"></script>
    </body>
</html>
